<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703645969295-3abvghsn9eqqiv77qhndhg2t46njl6so.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703645969295-3abvghsn9eqqiv77qhndhg2t46njl6so</string>
	<key>API_KEY</key>
	<string>AIzaSyBqX0uqc7fRu3f-ThC0Y_CfNWlsvI_wivs</string>
	<key>GCM_SENDER_ID</key>
	<string>703645969295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.serendy</string>
	<key>PROJECT_ID</key>
	<string>serendy-7496b</string>
	<key>STORAGE_BUCKET</key>
	<string>serendy-7496b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703645969295:ios:5a2eec89b6d54ca207f9fa</string>
</dict>
</plist>